S3method(as.data.frame,nirs4allio_dataset)
S3method(as.matrix,nirs4allio_dataset)
export(nirs4allio_as_tibble)
export(nirs4allio_native_available)
export(nirs4allio_open_dataset)
export(nirs4allio_open_records)
export(nirs4allio_probe_path)
export(nirs4allio_version)
export(nirs4allio_walk_path)
importFrom(jsonlite,fromJSON)
useDynLib(nirs4allio, .registration = TRUE)
