S3method(as.data.frame,nirs4allformats_dataset)
S3method(as.matrix,nirs4allformats_dataset)
export(nirs4allformats_as_tibble)
export(nirs4allformats_native_available)
export(nirs4allformats_open_bytes)
export(nirs4allformats_open_with_sidecars)
export(nirs4allformats_open_dataset)
export(nirs4allformats_open_records)
export(nirs4allformats_probe_path)
export(nirs4allformats_version)
export(nirs4allformats_walk_path)
importFrom(jsonlite,fromJSON)
useDynLib(nirs4allformats, .registration = TRUE)
